.transparent-footer {
  width: 100vw; /* force full width */
  background-color: rgba(0, 0, 0, 0.7); /* transparent black */
  color: white;
  padding: 1rem 0;
  text-align: center;
  position: relative;
  left: 0;
  bottom: 0;
  z-index: 100;
  box-sizing: border-box;
}



.footer-content {
  max-width: 100%;
  margin: 0 auto;
}

body, html {
  margin: 0;
  padding: 0;
}

